<h1>Roomタイトル: <%= @room.name %> (ID: <%= @room.number %>)</h1>
<h2>質問一覧</h2>
<table>
    <tr>
        <th>ユーザーネーム</th>
        <th>質問内容</th>
        <th>回答済み/未回答</th>
        <th>日時</th>
    </tr>
    <% @room.questions.order(id: "DESC").each do |q| %>
        <tr>
            <td><%= !!q.name ? q.name : '名前なし' %></td>
            <td><%= !!q.content ? q.content : '内容なし' %></td>
            <% if q.is_done %>
                <td><input type="checkbox" class="cb" name="is_done[]" value=<%= q.id %> checked></td>
            <% else %>
                <td><input type="checkbox" class="cb" name="is_done[]" value=<%= q.id %>></td>
            <% end %>
            <td><%= q.created_at %></td>
        </tr>
    <% end %>
</table>
<script>
    window.onload = function () {
        $(".cb").click(function(){
            $.ajax("/admin/done", {
                type: "POST",
                data: { id: $(this).val() }
            })
        });
    };
</script>
<br>-----------------------------------------------------<br><br>
アクセス権限のあるユーザー一覧<br>
<% @room.users.each do |user| %>
    <%= user.name %><br>
<% end %>
<br>-----------------------------------------------------<br><br>
ユーザーにアクセス権限を付与
<form action="/admin/invite/<%= @room.id %>" method="POST">
    <input type="text" placeholder="ユーザーネーム" name="name">
    <input type="submit" value="招待">
</form>
<br>-----------------------------------------------------<br><br>